* {
  box-sizing: border-box;
  background: rgb(124, 124, 124);
  text-align: center;
}

h3 {
  text-align: center;
}

ul {
  text-align: center;
}

.todo {
  text-align: center;
  list-style: none;
}